{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
    <h1>{{ members.name }}</h1>
    <img class="img-fluid" src="img/members/{{ members.imagebw }}" alt="{{ member.slug }}">
    <h5>Birthdate: {{ members.birthdate }}</h5>
    <h5>Birthplace: {{ members.birthplace }}</h5>
    <h5>Tenure: {{ members.tenure }}</h5>
    <h5>{{ members.instruments }}</h5>
      {% block info %}{% endblock %}
    </div>
    <div class="col-sm-8">
      <h3>Biography</h3>
      <p>{{ members.text | safe}}</p>
      {% block story %}{% endblock %}

    </div>
  </div>
</article>
{% endblock %}
