{% extends '_layouts/detail.njk' %}
{% set members = data.members[3] %}

{% block info %}
  <h1>{{ members.name }}</h1>
{% endblock %}

{% block story %}
  <h2>Undead: Right column content</h2>
  <p>{{ members.text }}</p>
{% endblock %}