p {
  font-family: 'Arapey', serif;
}

h1, h5 {
  font-family: 'Roboto Condensed', sans-serif;
}


h1, h5, .card-title {
  text-align: center;
}

a:link, a:hover {
  color: grey;
}

a:visited {
  color: grey;
}

a:active {
  color: plum;
}


